<h1 style="font-size: 1.5em;" >Merci Monsieur {{ user.lastname }} de vous êtes inscrit le site <a href="http://www.techaway.fr">Tech a Way</a></h1>

<p>Nous sommes ravis de vous compter parmis nos clients.</p>
<p>Nous espérons que les produits que nous proposons vous donnerons entière satisfaction. Venez profiter de nos produits en promotion. (si vous trouvez moins cher ailleurs, nous vous rembourserons la différence)</p>
<p>Cordialement</p>
<p>L'équpe Tech a Way</p>


