{% extends 'base.html.twig' %}

{% block title %}Mon Compte
{% endblock %}

{% block body %}


	<main class="container">
		<section style="height: 200px; background-color: white;" class="row align-items-center justify-content-around col" id="compte_user_insert">
			<div style="min-width: 140px; max-width: 200px;" class="col" id="picture">
				<img src="{{ asset('images/icon_account.png') }}" class="img-fluid" alt="image générique de représentation du compte client">
			</div>
			<div style="min-width: 150px; max-width: 200px;" class="row align-items-center col h-100" id="user_deconnect">
				<div>
					<div class="fw-bold">Bonjour</div>
					<div class="">John Doe</div>
				</div>
				<div class="text-primary">client N°3004</div>
				<a href="" class="btn border border-danger rounded-pill link-danger fw-bold fs-6">Me déconnecter</a>
			</div>
		</section>

		<section style="height: 80px; background-color: white;" class="row align-items-center justify-content-start d-md-none col" id="compte_user_menu-mobile">
			<div style="background-color: #F25528; height: 40px;" class="text-center menu-title text-white text-uppercase fw-bold fs-3 col">Menu</div>
			<div class="col p-0">
				<div class="dropdown ">
					<button style="height: 40px;" class="fw-bold btn dropdown-toggle width-container-dropdown rounded-0 border" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
						Afficher le menu
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
						<li>
							<button class="dropdown-item" type="button">Mes informations</button>
						</li>
						<li>
							<button class="dropdown-item" type="button">Mes adresses</button>
						</li>
						<li>
							<button class="dropdown-item" type="button">Mes commandes</button>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<section class="row bg-success col" id="compte_user_informations">INFORMATIONS</section>

	</main>


{% endblock %}
