{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

 <section class="row p-2 m-0 container-fluid" >             
        <div class="col-lg-10">
            <div class="container-fluid row d-flex justify-content-between py-3">
              <ul class="pagination col-lg-6 py-3">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><a class="active" href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">»</a></li>
              </ul>              
            </div>
         {% for cat in categotype1 %}
               {% for subcat in cat.subcategories %}
                  <h3 class="p-3 mb-2 bg-info text-dark"> {{subcat.name}}  </h3>
                    <div class="container-fluid d-flex flex-row bd-highlight mb-1 shadow-sm p-3  bg-white rounded   ">
                      <div class="d-flex align-items-star ">
                          <div class="col-2">
                              <div class="mobilefirst">
                                <img src="../images/pc-portable-huawei-matebook-13-13-2k-core.jpg" class="img-fluid max-width: 100% height: auto" alt="Responsive image">
                              </div>
                          </div>
                          <div class="p-2 bd-highlight col-6 ">
                              <p>
                              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, adipisci dicta ipsum libero    quia   quos mollitia error quas .
                              </p>
                          </div>
                          <div class="col-2">
                              <p>dispo stock</p> 
                          </div>
                          <div class="col-2  mx-6">
                              <p>Prix</p> 
                              <p>30€</p>  
                              <a href="#">
                              <span class="material-icons color">
                                  shopping_cart
                              </span>
                              </a>
                          </div>
                       </div>
                    </div>
                    {% endfor %}
            {% endfor %}
        
    </section> 

{% endblock %}
