{% extends 'admin/layout.back.office.html.twig' %}

{% block title %}Backoffice{% endblock %}

{% block body %}
{% block cards %}{% endblock %}

<p class="position-absolute top-0 end-0"><a href="{{ path('home') }}">Accueil boutique en ligne</a></p>
<div class="d-flex flex-column m-5 justify-content-center">
    <h1 class="mb-5">Bienvenue dans le Backoffice</h1>
    <h2><a class="fs-2"href="{{ path('admin_user_index') }}">Liste des Utilisateurs</a></h2>
    <h2><a class="fs-2"href="{{ path('admin_product_index') }}">Liste des Produits</a></h2>
    <h2><a class="fs-2"href="{{ path('admin_category_index') }}">Liste des Catégories</a></h2>
    <h2><a class="fs-2"href="">Liste des Marques</a></h2>
</div>


{% endblock %}
