body {
    min-height: 100vh;
    min-width: 100vh;
}

/** CSS components for screen larger than 992px**/
@media (min-width: 992px) {

    /** image class **/
    .img-height {
        height: 30%!important;
        width: 100%!important;
    }

    .height-img {
        height: 80%!important;
    }

    /** class for global card with user informations and disconnected button **/
    .global-info-height {
        height: 70%!important;
    }

    /** class for user informations card **/
    .info-height {
        height: 70%!important;
    }

    /** disconnect button class **/
    .disconnect-height {
        height: 30%!important;
        margin-right: 0%!important;
        margin-left: 0%!important;
    }

    .disconnect-text {
        font-size: 1.5em!important;
    }

    /** text class at the user informations card **/
    .text-title-info {
        font-size: 2em!important;
    }

    .name-info {
        font-size: 1.8em!important;
    }

    .client-number {
        font-size: 1.5em!important;
    }
    
    /** class for displaying position of the menu card **/
    .position {
        position: absolute!important;
    }
}