body {
    min-height: 100%;
    min-width: 100%;
}

@media (max-width: 991px) {

    .nav-container {
        height: 15%!important;
    }

    .nav-height {
        height: 100%!important;
    }

    .disconnect-height {
        height: 15%;
    }

    .menu-nav-container {
        height: 10%!important;
    }
}

/** CSS components for screen larger than 992px**/
@media (min-width: 992px) {

    /** image class **/
    .img-height {
        height: 30%!important;
        width: 100%!important;
    }

    .height-img {
        height: 80%!important;
    }

    /** class for global card with user informations and disconnected button **/
    .global-info-height {
        height: 70%!important;
    }

    /** class for user informations card **/
    .info-height {
        height: 70%!important;
    }

    /** disconnect button class **/
    .disconnect-height {
        height: 30%!important;
    }

    .disconnect-text {
        font-size: 1.5em!important;
    }

    /** text class at the user informations card **/
    .text-title-info {
        font-size: 2em!important;
    }

    .name-info {
        font-size: 1.8em!important;
    }

    .client-number {
        font-size: 1.5em!important;
    }
    
    /** class for displaying position of the menu card **/
    .position {
        position: absolute!important;
        height: 30%!important;
    }

    .menu-nav-container {
        height: 50%!important;
    }
}