{% extends 'base.html.twig' %}

{% block title %} Page non trouvé {% endblock %}
{% block body %} 

<div ="container-fluid mt-3 border-0">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Page non trouvée</h1>
            <p>la page que vous cherchez n'existe pas</p>
            <p>Code de l'erreur : {{ status_code }}</p>
            <p>Message de l'erreur : {{ status_text }}</p>
        </div>
    </div>
</div>



{% endblock %}