/*************** 
start css GENERAL
***************/
i {
    color: #F25528;
}

header {
    border-bottom: 1px solid #F25528;
}

/*************** 
end css GENERAL
***************/


/*************** 
start css HEADER
***************/
.div_mobile,
.div_desktop {
    height: 100px;
}

@media (max-width: 576px) {
    .logo_search {
        display: none;
    }
}

@media (max-width: 395px) {
    .logo_shopping_cart {
        display: none;
    }
}

@media (max-width: 310px) {
    .logo {
        display: none;
    }
}


@media (max-width: 232px) {
    .logo_user {
        display: none;
    }
}


.div_desktop a {
    text-decoration: none;
    color: #F25528;
}




.div_desktop li {
    list-style-type: none;
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
}

#liste_categories {
    margin-left: -2rem;
    margin-top: 0.42rem;
    font-weight: bold;
    font-size: 0.92rem;


}


#sub_category_1_appears,
#sub_category_2_appears,
#sub_category_3_appears,
#sub_category_4_appears {
    display: none;

}


#category_1:hover #sub_category_1_appears, #category_2:hover #sub_category_2_appears, #category_3:hover #sub_category_3_appears, #category_4:hover #sub_category_4_appears {
    display: block;
    margin-top: 0.5rem;
    margin-left: -0.5rem;
    width: 25%;
    position: absolute;
    text-align: center;
    background-color: #F25528;
}

.header_sub_category a {
    color:white;
}

#search input, #search button {
    border: 1px solid #F25528;
}


/*************** 
end css HEADER
***************/

/*************** 
start css SHOPPING_CART
***************/
@media (max-width: 576px){
    .picture_product {
        display:none;
    }

}


@media (max-width: 767px) {
    main>h1 {
        text-align: center
    }
    #feature_product div {
        display: none;
    }

    .quantity, .price,  .button_delete {
        text-align: end;
     }

    .button_delete {
        position: relative;
        bottom: 210px;
    }

    .available {
        position: relative;
        left: -130px;
    }

    .name_product, .description_product {
        height: 45px;
    }

    .description_product {
        font-size: 0.8rem;
    }
    div.div_price, div.div_quantity{
        position:relative;
        top: -25px;
        right: 250px;
        font-weight: bold;
    }


}

@media (min-width: 768px) and (max-width: 1000px) {
    .description_product {
        font-size: 0.6rem;
    }
    .name_product {
        font-size: 0.9rem;
    }
    div.div_price, div.div_quantity{
        display:none;
    }
}


@media (min-width: 1000px) {
    div.div_price, div.div_quantity{
        display:none;
    }
}




#feature_product {
   font-weight: bold;
}.name_product {
    font-weight: bold;
}



/*************** 
end css SHOPPING_CART
***************/